

.shadow {
  box-shadow: 20px, 20px, 4px black;
  // box-shadow: 20px, 20px, 4px lightblue;
}


.hollow {
  background-color: white;
}

.border {
  display: inline-block;
  border-width: 4px;
}

.zero-border {
  border-width: 0px;
}

.text-white {
  color: white;
  display: inline-block;
}

.primary {
  background-color: dodgerblue;
  border-color: rgb(26, 94, 162);
  // border-color: royalblue;
}
.hollow-primary {
  font-weight: 800;
  color: dodgerblue;
  border-color: dodgerblue;
}
.primary-gradient {
  // color: rgb(26, 94, 162);
  color: white;
  background-image: linear-gradient(140deg, lightskyblue, dodgerblue);
  // linear-gradient: (140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%)
  border-color: rgb(26, 94, 162);
  // border-color: royalblue;
}

// springgreen palegreen  green, darkgreen
.success {
  background-color: limegreen;
  border-color: seagreen;
  // border-color: royalblue;
}
.hollow-success {
  font-weight: 800;
  color: limegreen;
  border-color: limegreen;
}
.success-gradient {
  color: seagreen;
  background-image: linear-gradient(140deg, palegreen, limegreen);
  // linear-gradient: (140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%)
  border-color: seagreen;
  // border-color: royalblue;
}

.warning {
  background-color: coral;
  border-color: orangered;
  // border-color: royalblue;
}
.hollow-warning {
  font-weight: 800;
  color: coral;
  border-color: coral;
}
// darkorange tomato
.warning-gradient {
  color: orangered;
  background-image: linear-gradient(140deg, orange, coral);
  border-color: orangered;
}

.danger {
  background-color: red;
  border-color: crimson;
}
.hollow-danger {
  font-weight: 800;
  color: red;
  border-color: red;
}
.danger-gradient {
  color: white;
  background-image: linear-gradient(140deg, indianred, red);
  border-color: crimson;
  // border-color: royalblue;
}


.disabled {
  background-color: lightgray;
  border-color: gray;
  // border-color: royalblue;
}
.hollow-disabled {
  font-weight: 800;
  color: gray;
  border-color: gray;
}
.disabled-gradient {
  color: gray;
  background-image: linear-gradient(140deg, aliceblue, lightgray);
  border-color: gray;
}

.box {
  border-radius: 1px;
}

.rounded {
  border-radius: 10px;
}

.pill {
  border-radius: 40px;
}

.small {
  font-size: 16px;
  height: 50px;
  width: 100px;
}

.medium {
  font-size: 16px;
  height: 60px;
  width: 150px;
}

.big {
  font-size: 20px;
  height: 70px;
  width: 200px;
}
